.myBtn{
    padding: 5px 15px;
    color: teal;
    font-size: 14px;
    background: transparent;
    border: 1px solid teal;
    cursor: pointer;
}
.myBtn[disabled] {
    color: #d2d5db;
    background: #6c7589;
    cursor: not-allowed;
}